In [ ]:
# problem 1
print("Hello Python")

Enter value of the first variable: 0
Enter value of the second variable: 00000
Original values: a = 0, b = 00000
swapped values: a = 00000, b = 0

In [ ]:
# problem 2
a = input("Enter value of the first variable: ")
b = input("Enter value of the second variable: ")
print(f"Original values: a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"swapped values: a = {a}, b = {b}")

Enter value of the first variable: g
Enter value of the second variable: klkl
Original values: a = g, b = klkl
swapped values: a = klkl, b = g

In [ ]:
# problem 3
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum = num1 + num2
print(f"sum: {num1} + {num2} = {sum}")

num3 = float(input("Enterthe diviend for division: "))
num4 = float(input("Enterthe divisor for division: "))
if num4 == 0:
  print("Error: Cannot divide by 0")
else:
  div_result = num3 / num4
  print(f"Division: {num3}/{num4}={div_result}")

Enter the first number for addition: 1
Enter the second number for addition: 3
sum: 1.0 + 3.0 = 4.0

In [ ]:
# problem 4
kilometers = float(input("Enter distance in kilometers: "))

conversion_factor = 0.621371

miles = kilometers * conversion_factor

print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers: 2.5
2.5 kilometers is equal to 1.5534275 miles

In [ ]:
# problem 5
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

print("Libraries imported successfully!")

Libraries imported successfully!

In [ ]:
# problem 6
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)
print(cal)

Enter year: 2024
Enter month: 3
     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
# problem 7
def calculate_water_intake(weight, activity_level):
  base_intake = weight * 0.033

  if activity_level == "low":
    return base_intake
  elif activity_level == "moderate":
    return base_intake + 0.5
  elif activity_level == "high":
    return base_intake + 1.0
  else:
    return None

print("Welcome to the Daily Water Intake Calculator!")

while True:
  try:
    weight = float(input("Enter your weight in kg: "))
    break
  except ValueError:
    print("Please enter a valid number for weight")

while True:
  activity_level = input("Enter your activity level (low, moderate, high): ").lower()
  daily_water = calculate_water_intake(weight, activity_level)
  if daily_water:
    print(f"Based on your weight and activity level, you should drink approximately {daily_water:.2f} liters of water everyday.")
    break
  else:
    print("Plase enter a valid activity level (low, moderate, high).")

print("Stay hydrated!")

Welcome to the Daily Water Intake Calculator!
Enter your weight in kg: 50
Enter your activity level (low, moderate, high): high
Based on your weight and activity level, you should drink approximately 2.65 liters of water everyday.
Stay hydrated!

In [ ]:
# Question 3
def even_or_odd(number):
  if number % 2:
    print(f"{number} is even")
  else:
    print(f"{number} is odd")

number = float(input("type a number to check if it is even or odd: "))
even_or_odd(number)

type a number to check if it is even or odd: 5
5.0 is even

In [ ]:
# question 7
def days_to_other(days):
  og_days = days
  r_years = days // 365
  days -= r_years * 365
  r_weeks = days // 7
  days -= r_weeks * 7
  print(f"in {og_days}, there are {r_years} years, {r_weeks} weeks, and {days} days")

days_to_other(int(input("enter the amount of days: ")))

enter the amount of days:7645
in 7645, there are 20 years, 49 weeks, and 2 days